#  Local .terraform directories
# .tfstate files
# .tfvars files
**/.terraform/*
*.log
*.tfstate
*.tfstate*
*.tfstate.*
*.tfvars
*.tfvars*
*.zip
*/__pycache__
*__pycache__*
*auth_configmap*
*kube_config
config-map*
examples/*/.terraform
kubeconfig*
kubeconfig/*
providers.tf
tls_secrets/*
